@charset "UTF-8";

@media print
{
    body{
        background-image: url('../imagens/back-print.jpg');
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
    
}
/*tablet*/
@media screen and (min-width:768px) and (max-width:992px)
{
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }

    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}
/*desktop*/
@media screen and (min-width:992px) and (max-width:1200px)
{
    body{
        background-image: url('../imagens/back-pc.jpg');
    }

    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}
/*grandes telas*/
@media screen and (min-width:1200px)
{
    body{
        background-image: url('../imagens/back-tv.jpg');
    }

    main{width: 700px;}
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}